<head>
	<meta http-equiv="refresh" content="1">
</head>
<body>
	<div class='message'>
		<%= @message %>
	</div>
	<p class='info'>
		50 cents per 30 seconds on this board. Speak your mind.
	</p>
</body>